
/* Style sheet for The Sims pages*/

a:visited        	{color: 0099FF}
a:hover			{color: 990099}
a:active		{color: 990099}
a:link          	{color: 0000FF}

P			{color: #000000}

BODY			{font-family: "Arial", "Helvetica", sans-serif;
			font-weight: normal;
			font-size: 10pt;
			background: #FFE078;
			background-image: url(NeighborhoodGFX/yellowback.jpg);
                        color: #000000
			}

.BlueTitleText          {color: #3838D0;
			font-family: "Times New Roman", "Times", serif;
			font-weight: normal;
			font-size: 24pt;
                        }

.BlueHeadingText        {color: #3838D0;
			font-family: "Times New Roman", "Times", serif;
			font-weight: normal;
			font-size: 14pt;
                        }

.AddressText		{font-family: "Arial", "Helvetica", sans-serif;
			font-weight: normal;
			font-size: 12pt;
                        color: #000000
			}

.BlueBackBox            {background: #3666B4;
			border-width:   0;
                        color: #ffffff;
			font-family: "Arial", "Helvetica", sans-serif;
			font-weight: bold;
			font-size: 10pt;
			}

.BoldWhiteText          {color: #ffffff;
			font-family: "Arial", "Helvetica", sans-serif;
			font-weight: bold;
			font-size: 10pt;
                        }

.RedText                {color: #dd0000;
			font-family: "Arial", "Helvetica", sans-serif;
			font-weight: normal;
			font-size: 10pt;
                        }

.PageText		{font-family: "Arial", "Helvetica", sans-serif;
			font-weight: normal;
			font-size: 10pt;
                        color: #000000
			}
